/*  =============
    base
    =============  */
/* colors */
/* responsive */
/*  =============
    global styles
    =============  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 13px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #ecf2f8;
}

img {
  max-width: 100%;
}

/*  =============
    article block
    =============  */
.article {
  margin: 70px 0px 80px 0px;
  width: 330px;
  border-radius: 10px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .article {
    margin: 0;
    width: 730px;
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
  }
}

.article__img {
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .article__img {
    height: 100%;
    border-radius: 10px 0px 0px 10px;
  }
}

.article__content {
  padding: 40px 30px 20px 30px;
  font-weight: 700;
}

.article__title {
  color: #48556a;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .article__title {
    font-size: 1.6rem;
  }
}

.article__text {
  font-weight: 500;
  margin-bottom: 30px;
  color: #6d7f97;
  font-size: 1.1rem;
}

/*  =============
    user block
    =============  */
.user {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.user__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__img {
  height: 100%;
  margin-right: 18px;
  border-radius: 50%;
}

.user__nombre {
  color: #48556a;
  font-size: 1.1rem;
}

.user__fecha {
  color: #6d7f97;
  font-size: 1.1rem;
  font-weight: 500;
}

.user__share {
  background-color: #ecf2f8;
  background-image: url(../images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.user__share:hover {
  background-color: #9eafc2;
}

/*  =============
    share block
    =============  */
.share {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  color: #ecf2f8;
  background-color: #48556a;
  position: absolute;
  width: 330px;
  border-radius: 0px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  left: -30px;
  opacity: 0;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

@media (min-width: 1024px) {
  .share {
    border-radius: 10px;
    width: 250px;
    height: 55px;
    left: auto;
    bottom: 70px;
    right: -110px;
  }
  .share::before {
    content: "";
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: 113px;
    background-color: #48556a;
  }
}

.share__text {
  padding: 0px 10px 0px 30px;
}

.share__icon {
  padding: 0 10px;
}

/* hover state */
.user__share:hover ~ .share,
.share:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
/*# sourceMappingURL=app.css.map */