$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);
$medium: 500;
$bold: 700;

/* responsive */
$tablet: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

/*  =============
    global styles
    =============  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $LightGrayishBlue;
}

img {
  max-width: 100%;
}

/*  =============
    article block
    =============  */

.article {
  margin: 70px 0px 80px 0px;
  width: 330px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;

  @include tablet() {
    margin: 0;
    width: 730px;
    grid-template-columns: 40% 1fr;
  }

  &__img {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;

    @include tablet() {
      height: 100%;
      border-radius: 10px 0px 0px 10px;
    }
  }

  &__content {
    padding: 40px 30px 20px 30px;
    font-weight: $bold;
  }

  &__title {
    color: $VeryDarkGrayishBlue;
    font-size: 11px;
    margin-bottom: 20px;

    @include tablet() {
      font-size: 14px;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: $DesaturatedDarkBlue;
    font-size: 14px;

    @include tablet() {
      font-size: 13px;
    }
  }
}

/*  =============
    user block
    =============  */

.user {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__content {
    height: 100%;
    display: flex;
  }

  &__img {
    height: 100%;
    margin-right: 18px;
    border-radius: 50%;
  }

  &__nombre {
    color: $VeryDarkGrayishBlue;
    font-size: 14px;
  }

  &__fecha {
    color: $DesaturatedDarkBlue;
    font-size: 14px;
    font-weight: $medium;
  }

  &__share {
    background-color: $LightGrayishBlue;
    background-image: url(../images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background-color: $GrayishBlue;
    }
  }
}

/*  =============
    share block
    =============  */

.share {
  text-transform: uppercase;
  font-weight: $medium;
  letter-spacing: 4px;
  color: $LightGrayishBlue;
  background-color: $VeryDarkGrayishBlue;
  position: absolute;
  width: 330px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  bottom: -20px;
  justify-content: flex-start;
  height: 80px;
  align-items: center;
  visibility: hidden;
  left: -30px;
  opacity: 0;
  transition: 0.25s all ease;
  transition-delay: 0.25s;

  @include tablet() {
    border-radius: 10px;
    width: 250px;
    height: 55px;
    left: auto;
    bottom: 70px;
    right: -110px;

    &::before {
      content: "";
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -10px;
      right: 113px;
      background-color: $VeryDarkGrayishBlue;
    }
  }

  &__text {
    padding: 0px 10px 0px 30px;
  }

  &__icon {
    padding: 0 10px;
  }
}

/* hover state */
.user__share:hover ~ .share,
.share:hover {
  visibility: visible;
  opacity: 1;
  transition: 0.25s all ease;
  transition-delay: 0s;
}
